
<!doctype html>
<html>
{% block header %}
<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Bootstrap Responsive Onepage HTML Template">
        <meta name="author" content="">

        <title> {% block title %}HAND SHAKE {% endblock %}</title>

        <!--CSS-->
        <link href="{{ asset('Front/css/bootstrap.min.css') }}"  rel="stylesheet">
        <link href="{{ asset('Front/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('Front/css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('Front/css/prettyPhoto.css') }}" rel="stylesheet">
        <link href="{{ asset('Front/css/main.css') }}" rel="stylesheet">
    <link id="css-preset" href="{{ asset('Front/css/presets/preset1.css')}}" rel="stylesheet">
        <link href="{{ asset('Front/css/responsive.css') }}" rel="stylesheet">

        <!--Google Fonts-->
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800,100,600' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,900' rel='stylesheet' type='text/css'>

        <!--[if lt IE 9]>
    <script src="{{ asset('Front/js/html5shiv.js') }}"></script>
    <script src="{{ asset('Front/js/respond.min.js') }}"></script>
    <![endif]-->

        <!-- icons -->
        <link rel="icon" href="{{ asset('Front/images/ico/favicon.ico')}}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('Front/images/ico/apple-touch-icon-144-precomposed.html') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('Front/images/ico/apple-touch-icon-114-precomposed.html') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('Front/images/ico/apple-touch-icon-72-precomposed.html') }}">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('Front/images/ico/apple-touch-icon-57-precomposed.html') }}">

</head><!--/head-->
{% endblock %}

<body>


    <!-- Page Loader -->

    <header id="navigation">
        <div class="navbar navbar-expand-lg animated fadeIn fixed-top" role="banner">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa fa-align-justify"></i></span>
                </button>
                <a class="navbar-brand" href="/HandshakeWebSym/web/Front/index.html">
                    <h1><img class="img-fluid" src="/HandshakeWebSym/web/Front/images/logo.png" alt="logo"></h1>
                </a>
                <div class="top-bar top-bar-hide">
                    <div class="dropdown language-dropdown">
                        <a data-toggle="dropdown" href="#"><span class="change-text">English </span><i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu language-change">
                            <li><a href="#">English </a></li>
                            <li><a href="#">German </a></li>
                            <li><a href="#">French </a></li>
                            <li><a href="#">Spanish </a></li>
                        </ul>
                    </div>
                    <span class="contact-mail"><a href="#"><i class="fa fa-envelope-o"></i>
                        <span class="__cf_email__" data-cfemail="adcec2c3d9ccced9edc5d8c0ccc3c4d9d483cec2c0">[email&nbsp;protected]</span></a></span>
                    <span><i class="fa fa-phone"></i> (123) 456-7890</span>

                </div>
                <nav id="navbarNav" class="collapse navbar-collapse navbar-right justify-content-end">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="#tr-home"><span>Home</span></a></li>
                        <li class=""><a href="#who-we-are"><span>Who We Are</span></a></li>
                        <li class=""><a href="#cause-list"><span>Cause</span></a></li>
                        <li class="active"><a href="#recent-post"><span>News &amp; Blog</span></a></li>
                        <li class=""><a href="#our-member"><span>Volunteer</span></a></li>
                        <li><a href="#photo-gallery"><span>Gallery</span></a></li>
                        <li><a href="#contact"><span>Contact</span></a></li>
                    </ul>
                </nav>
                <div class="search">
                    <form role="form">
                        <i class="fa fa-search"></i>
                        <div class="field-toggle">
                            <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <div id="recent-post" class="padding-bottom padding-top" style="padding-top: 200px ">
        <div class="container">
            <div class="row">
                <div class="carousel-inner">
                    <div class="item carousel-item active">
                        <div class="row">
                            <div class="col-md-12">



{% block body %}


{% endblock %}
        </div>
    </div>
    </div>
                    </div>
                </div>
            </div>
        </div>


<!--/#scripts-->
{% block stylejavascrit %}
<script data-cfasync="false" src="{{ asset('../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js')}}"></script><script src="{{ asset('Front/js/jquery.js')}}"></script>
<script src="{{ asset('Front/js/popper.min.js')}}"></script>
<script src="{{ asset('Front/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('Front/js/jquery.prettyPhoto.js')}}"></script>
<script src="{{ asset('Front/js/jquery.parallax.js')}}"></script>
<script src="{{ asset('Front/js/smoothscroll.js')}}"></script>
<script src="{{ asset('Front/js/jquery.nav.js')}}"></script>
<script src="{{ asset('Front/js/canvas.js')}}"></script>
<script src="{{ asset('Front/js/preloader_canvas.js')}}"></script>
<script src="{{ asset('Front/js/main.js')}}"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','../../www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-73239902-1', 'auto');
    ga('send', 'pageview');
</script>
{% endblock %}
</body>

</html>
