{% extends 'base.html.twig' %}
{% block container %}
    <a class="pull-right btn btn-primary" href="{{ path('ajoutAide') }}">Ajouter Aide</a>

<tbody>
<div id="recent-post" class="padding-bottom padding-top-two">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-9">
                <div class="section-title">
                    <h1>Aides</h1>
                </div>
                <div id="recent-post-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="row">
                                {% for a in Aide %}

                                <div class="col-md-6">
                                    <div class="single-post">
                                        <div class="pull-right post-details">

                                                <p class="post-date">Description : {{ a.descriptionAide }}</p>
                                                <span>Localisation : {{ a.localisationAide }}</span>
                                                <span>Categorie : {{ a.categorieAide }}</span>
                                                {% if a.statutAide==0 %}
                                                    <span>Statut : Non Approuvé</span>
                                                {% else %}
                                                    <span>Statut : Approuvé</span>
                                                {% endif %}
                                                <td><a class="btn waves-effect waves-light btn-warning" href="{{ path('modifAideUser', {'id': a.id }) }}">Modifier</a><a class="btn waves-effect waves-light btn-danger" href="{{ path('suppAideC', {'id': a.id }) }}">Suprimer</a></td>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <nav>
                                    <ul class="pagination">
                                        {{ knp_pagination_render(Aide) }}
                                    </ul>
                                </nav>
                            </div>
                        </div><!--/.item-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/#recent-post-->


{% endblock %}